<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing Image...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loading_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            <h1>Analyzing Image</h1>
            <p class="subtitle">Downloading models and detecting damages. Please wait...</p>
        </header>
        <main>
            <div class="loader"></div>
        </main>
        <footer>
            <p class="footer-text">Powered by AI & Detectron2 | <span style="opacity:0.7;">2025</span></p>
        </footer>
    </div>
</body>
<script> window.location.replace('/processing?data={{img}}'); </script>
</html>
